<!DOCTYPE html>
<html>
<h1><%= @weather[:termperature].to_s%></h1>
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
  
  
  <div class="col-lg-6">
              <h1>Flatly</h1>
              <p class="lead">Flat and modern</p>
            </div>
			<blockquote><p>Hi there</p></blockquote>
</div>
</html>